* {
	padding: 0;
	margin: 0;

	font-family: 'sans-serif';

}

header {
	background-color: #dbdbdb;

	text-align: center;
	
	line-height: 40px;
	height: 40px;
	width: 100%;

	box-shadow: 0 2px 5px rgba(12,12,12,0.8);

}

header .navigate {
	list-style: none;
}

header .navigate li {
	float: left;
	width: 20%;

	display: block;

	cursor: pointer;
}

header .navigate li a {
	color: black;
	text-decoration: none;
}

header .navigate li:hover {
	text-shadow: 1px 1px 1px rgba(12,12,12,0.5);
}

header h1 {
	float: left;
	padding-left: 1em;

	cursor: pointer;

	color: black;
}

.label {
	width: 90%;
	height: 400px;

	margin: 0 auto;
}

.img_placeholder {
	width:  200px;
	height: 200px;

	border-radius: 8px;

	position: relative;
	top: 50%;
	left: 50%;

	transform: translateX(-50%);

	background-color: #dbdbdb;

	box-shadow: 2px 2px 2px rgba(12,12,12,0.6);

	font-size: 2em;
	text-align: center;
	line-height: 100%;

}

.img_placeholder:active {
	box-shadow: inset -2px -2px 2px rgba(12,12,12,0.4),
				inset  2px  2px 2px rgba(12,12,12,0.4);
}

.img_placeholder p {
	position: relative;

	top:50%;

	transform: translateY(-50%);
}
